.u-section-1 .u-sheet-1 {
  min-height: 587px;
  width: 34px;
  height: 31px;
}

.u-section-1 .u-line-1 {
  transform-origin: center bottom 0px;
  left: auto;
  top: 94px;
  position: absolute;
  height: 54px;
  right: 189px;
}

.u-section-1 .u-line-2 {
  transform-origin: center bottom 0px;
  left: auto;
  top: 95px;
  position: absolute;
  height: 59px;
  right: 519px;
}

.u-section-1 .u-line-3 {
  width: 273px;
  transform-origin: left center 0px;
  left: 298px;
  top: 247px;
  position: absolute;
  transform: rotate(27deg);
}

.u-section-1 .u-line-4 {
  width: 278px;
  transform-origin: right center 0px;
  left: auto;
  top: 261px;
  position: absolute;
  right: 205px;
  transform: rotate(341deg);
}

.u-section-1 .u-line-5 {
  transform-origin: center top 0px;
  left: auto;
  top: 250px;
  position: absolute;
  height: 200px;
  right: 176px;
}

.u-section-1 .u-line-6 {
  transform-origin: center bottom 0px;
  left: 285px;
  top: 278px;
  position: absolute;
  height: 171px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 55px 366px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 154px;
  margin: -152px 570px 0 0;
}

.u-section-1 .u-line-7 {
  width: 327px;
  transform-origin: left center 0px;
  margin: 3px 192px 0 auto;
}

.u-section-1 .u-rotation-parent-1 {
  width: 34px;
  height: 31px;
  margin: 47px 504px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 31px;
  height: 34px;
}

.u-section-1 .u-shape-2 {
  width: 96px;
  height: 96px;
  background-image: none;
  margin: -18px auto 0 239px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: -72px auto 0 278px;
}

.u-section-1 .u-shape-3 {
  width: 95px;
  height: 96px;
  background-image: none;
  margin: -68px auto 0 902px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: -72px auto 0 943px;
}

.u-section-1 .u-shape-4 {
  width: 68px;
  height: 68px;
  background-image: none;
  margin: -58px 154px 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 31px;
  height: 39px;
  margin: 5px 197px 0 auto;
}

.u-section-1 .u-shape-6 {
  width: 96px;
  height: 96px;
  background-image: none;
  margin: -112px auto 0 570px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: -72px auto 0 611px;
}

.u-section-1 .u-line-8 {
  width: 82px;
  transform-origin: left center 0px;
  margin: -41px auto 0 128px;
}

.u-section-1 .u-shape-7 {
  width: 31px;
  height: 34px;
  margin: -20px auto 0 197px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: -33px auto 0 467px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: -24px 350px 0 auto;
}

.u-section-1 .u-line-9 {
  width: 208px;
  transform-origin: right center 0px;
  margin: -6px 258px 0 auto;
}

.u-section-1 .u-shape-8 {
  width: 31px;
  height: 34px;
  margin: -20px auto 0 860px;
}

.u-section-1 .u-line-10 {
  width: 226px;
  transform-origin: right center 0px;
  margin: -19px auto 0 334px;
}

.u-section-1 .u-shape-9 {
  width: 31px;
  height: 34px;
  margin: -20px auto 0 539px;
}

.u-section-1 .u-rotation-parent-2 {
  width: 40px;
  height: 33px;
  margin: 17px auto 0 267px;
}

.u-section-1 .u-shape-10 {
  width: 33px;
  height: 40px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: -2px 378px 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: -32px auto 0 440px;
}

.u-section-1 .u-shape-11 {
  width: 96px;
  height: 96px;
  background-image: none;
  margin: 7px auto 0 570px;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  margin: -72px auto 0 611px;
}

.u-section-1 .u-shape-12 {
  width: 31px;
  height: 34px;
  margin: -41px auto 0 539px;
}

.u-section-1 .u-line-11 {
  width: 677px;
  transform-origin: right center 0px;
  margin: 62px 178px 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  margin: 8px 517px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  margin: 22px 168px 30px auto;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-3 {
    width: 34px;
  }

  .u-section-1 .u-line-4 {
    width: 34px;
    margin-top: 20px;
  }

  .u-section-1 .u-line-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 370px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -244px;
  }

  .u-section-1 .u-line-7 {
    width: 34px;
    margin-top: 95px;
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: 91px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 34px;
    height: 34px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -10px;
    margin-left: 281px;
  }

  .u-section-1 .u-shape-3 {
    width: 34px;
    height: 34px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -10px;
    margin-left: 954px;
  }

  .u-section-1 .u-shape-4 {
    width: 34px;
    height: 34px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-5 {
    margin-right: 3px;
  }

  .u-section-1 .u-shape-6 {
    width: 34px;
    height: 34px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -11px;
    margin-left: 618px;
  }

  .u-section-1 .u-line-8 {
    width: 34px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-7 {
    margin-left: 3px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 473px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-right: 354px;
  }

  .u-section-1 .u-line-9 {
    width: 34px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-8 {
    margin-left: 3px;
  }

  .u-section-1 .u-line-10 {
    width: 34px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-9 {
    margin-left: 3px;
  }

  .u-section-1 .u-rotation-parent-2 {
    width: 34px;
    height: 22px;
    margin-top: -85px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-10 {
    width: 34px;
    height: 82px;
    margin: -61px auto 0 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 10px;
    margin-right: 382px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 445px;
  }

  .u-section-1 .u-shape-11 {
    width: 34px;
    height: 34px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: -10px;
    margin-left: 618px;
  }

  .u-section-1 .u-shape-12 {
    margin-left: 3px;
  }

  .u-section-1 .u-line-11 {
    width: 34px;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -294px;
  }

  .u-section-1 .u-line-7 {
    margin-top: 145px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-top: -319px;
  }

  .u-section-1 .u-line-7 {
    margin-top: 170px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-line-8 {
    margin-top: -41px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -24px;
  }

  .u-section-1 .u-shape-11 {
    margin-top: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-top: -694px;
  }

  .u-section-1 .u-line-7 {
    margin-top: 545px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -359px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
  }
}