 .u-section-1 {
  min-height: 539px;
}

.u-section-1 .u-sheet-1 {
  min-height: 606px;
  width: 30px;
  height: 30px;
}

.u-section-1 .u-line-1 {
  left: auto;
  top: 77px;
  position: absolute;
  height: 60px;
  transform-origin: center top 0px;
  right: 476px;
}

.u-section-1 .u-line-2 {
  left: auto;
  top: 78px;
  position: absolute;
  height: 88px;
  transform-origin: center bottom 0px;
  right: 167px;
}

.u-section-1 .u-line-3 {
  width: 244px;
  left: 372px;
  top: 269px;
  transform-origin: left center 0px;
  position: absolute;
  transform: rotate(27deg);
}

.u-section-1 .u-line-4 {
  width: 241px;
  left: auto;
  top: 402px;
  transform-origin: left center 0px;
  position: absolute;
  right: 195px;
  transform: rotate(330deg);
}

.u-section-1 .u-line-5 {
  left: auto;
  top: 283px;
  transform-origin: center top 0px;
  position: absolute;
  height: 194px;
  right: 159px;
}

.u-section-1 .u-line-6 {
  left: 348px;
  top: 290px;
  transform-origin: center top 0px;
  position: absolute;
  height: 186px;
}

.u-section-1 .u-form-1 {
  height: 154px;
  margin: -45px 570px 0 0;
}

.u-section-1 .u-text-1 {
  margin: -64px 319px 0 auto;
}

.u-section-1 .u-line-7 {
  width: 308px;
  transform-origin: left center 0px;
  margin: 11px 170px 0 auto;
}

.u-section-1 .u-rotation-parent-1 {
  width: 41px;
  height: 30px;
  margin: 54px 458px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 30px;
  height: 41px;
}

.u-section-1 .u-shape-2 {
  width: 92px;
  height: 92px;
  background-image: none;
  margin: 8px auto 0 926px;
}

.u-section-1 .u-shape-3 {
  width: 75px;
  height: 75px;
  background-image: none;
  margin: -82px 131px 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 38px;
  height: 38px;
  margin: 0 195px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -98px 160px 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 92px;
  height: 92px;
  background-image: none;
  margin: -61px auto 0 328px;
}

.u-section-1 .u-text-3 {
  margin: -66px auto 0 364px;
}

.u-section-1 .u-shape-6 {
  width: 92px;
  height: 92px;
  background-image: none;
  margin: -62px auto 0 615px;
}

.u-section-1 .u-shape-7 {
  width: 59px;
  height: 31px;
  margin: -3px 449px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: -3px 468px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: -106px 471px 0 auto;
}

.u-section-1 .u-text-6 {
  margin: -51px 282px 0 803px;
}

.u-section-1 .u-text-7 {
  margin: -21px 589px 0 496px;
}

.u-section-1 .u-line-8 {
  width: 111px;
  transform-origin: left center 0px;
  margin: 8px auto 0 465px;
}

.u-section-1 .u-rotation-parent-2 {
  width: 30px;
  height: 30px;
  margin: -17px auto 0 551px;
}

.u-section-1 .u-shape-8 {
  width: 30px;
  height: 30px;
}

.u-section-1 .u-line-9 {
  width: 111px;
  transform-origin: left center 0px;
  margin: -16px auto 0 177px;
}

.u-section-1 .u-rotation-parent-3 {
  width: 30px;
  height: 30px;
  margin: -16px auto 0 273px;
}

.u-section-1 .u-shape-9 {
  width: 30px;
  height: 30px;
}

.u-section-1 .u-line-10 {
  width: 164px;
  transform-origin: right center 0px;
  margin: -16px 254px 0 auto;
}

.u-section-1 .u-rotation-parent-4 {
  width: 30px;
  height: 30px;
  margin: -16px auto 0 871px;
}

.u-section-1 .u-shape-10 {
  width: 30px;
  height: 30px;
}

.u-section-1 .u-text-8 {
  margin: 56px 304px 0 auto;
}

.u-section-1 .u-text-9 {
  margin: -13px auto 0 493px;
}

.u-section-1 .u-text-10 {
  margin: -5px 497px 0 auto;
}

.u-section-1 .u-rotation-parent-5 {
  width: 25px;
  height: 25px;
  margin: -68px auto 0 335px;
}

.u-section-1 .u-shape-11 {
  width: 25px;
  height: 25px;
}

.u-section-1 .u-shape-12 {
  width: 65px;
  height: 25px;
  margin: 43px 446px 0 auto;
}

.u-section-1 .u-shape-13 {
  width: 37px;
  height: 44px;
  margin: -2px 529px 0 auto;
}

.u-section-1 .u-shape-14 {
  width: 92px;
  height: 92px;
  background-image: none;
  margin: -42px 431px 0 auto;
}

.u-section-1 .u-text-11 {
  margin: -64px 471px 0 auto;
}

.u-section-1 .u-line-11 {
  width: 633px;
  transform-origin: right center 0px;
  margin: 49px 159px 0 auto;
}

.u-section-1 .u-text-12 {
  margin: 10px 497px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 18px 159px 42px auto;
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    width: 30px;
    height: 0;
    margin: -123px 0 0 auto;
  }

  .u-section-1 .u-line-2 {
    width: 30px;
    margin: -127px 0 0 auto;
  }

  .u-section-1 .u-line-3 {
    width: 30px;
  }

  .u-section-1 .u-line-4 {
    width: 30px;
  }

  .u-section-1 .u-line-6 {
    width: 30px;
    height: 0;
    transform: rotate(2deg);
    right: 27px;
    margin: -126px 0 0 auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -345px;
  }

  .u-section-1 .u-line-7 {
    width: 30px;
    height: 0;
    margin-top: 99px;
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 30px;
    height: 11px;
    margin-top: -126px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    height: 30px;
    margin: -126px 0 0 auto;
  }

  .u-section-1 .u-shape-2 {
    width: 30px;
    height: 30px;
    margin-top: 159px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    width: 30px;
    height: 30px;
    margin-top: -125px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-4 {
    width: 30px;
    height: 194px;
    margin-top: 8px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -449px;
  }

  .u-section-1 .u-shape-5 {
    width: 30px;
    height: 30px;
    margin-top: 276px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -224px;
  }

  .u-section-1 .u-shape-6 {
    width: 30px;
    height: 30px;
    margin-top: 168px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-7 {
    width: 30px;
    margin-top: -19px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -180px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -81px;
    margin-right: 472px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 178px;
  }

  .u-section-1 .u-line-8 {
    width: 30px;
    margin-top: -97px;
    margin-left: 0;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-top: -46px;
    margin-left: auto;
  }

  .u-section-1 .u-line-9 {
    width: 30px;
    margin-top: 118px;
    margin-left: 0;
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-top: -121px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-9 {
    width: 250px;
    height: 219px;
    margin: -121px 267px 60px auto;
  }

  .u-section-1 .u-line-10 {
    width: 30px;
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-4 {
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 103px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 494px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -237px;
    margin-right: 498px;
  }

  .u-section-1 .u-rotation-parent-5 {
    margin-top: -53px;
    margin-left: 5px;
  }

  .u-section-1 .u-shape-11 {
    height: 286px;
    margin: 15px auto 60px 5px;
  }

  .u-section-1 .u-shape-12 {
    width: 30px;
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-13 {
    width: 30px;
    margin-top: 203px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-14 {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: -202px;
    margin-right: 472px;
  }

  .u-section-1 .u-line-11 {
    width: 30px;
    margin-top: -11px;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 498px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-top: -482px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 317px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -257px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: 209px;
  }

  .u-section-1 .u-shape-7 {
    margin-top: -52px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 219px;
  }

  .u-section-1 .u-shape-9 {
    margin-right: 90px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -46px;
  }

  .u-section-1 .u-line-11 {
    margin-top: -3px;
  }
}