.u-section-1 .u-sheet-1 {
  min-height: 717px;
  width: 34px;
  height: 31px;
}

.u-section-1 .u-line-1 {
  transform-origin: center bottom 0px;
  left: auto;
  top: 280px;
  position: absolute;
  height: 117px;
  right: 513px;
}

.u-section-1 .u-line-2 {
  transform-origin: center top 0px;
  left: 285px;
  top: 300px;
  position: absolute;
  height: 100px;
}

.u-section-1 .u-form-1 {
  height: 154px;
  margin: -65px 570px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  margin: 3px auto 0 11px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: -21px 485px 0 608px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: -17px 819px 0 276px;
}

.u-section-1 .u-shape-1 {
  width: 63px;
  height: 43px;
  margin: -15px 485px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 63px;
  height: 43px;
  margin: -24px auto 0 259px;
}

.u-section-1 .u-shape-3 {
  width: 96px;
  height: 96px;
  background-image: none;
  margin: -19px 470px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: -75px auto 0 615px;
}

.u-section-1 .u-shape-4 {
  width: 95px;
  height: 96px;
  background-image: none;
  margin: -50px auto 0 894px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: -72px auto 0 935px;
}

.u-section-1 .u-shape-5 {
  width: 68px;
  height: 68px;
  background-image: none;
  margin: -58px 162px 0 auto;
}

.u-section-1 .u-shape-6 {
  width: 96px;
  height: 96px;
  background-image: none;
  margin: -80px auto 0 242px;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  margin: -74px auto 0 281px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: -48px auto 0 454px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: -24px 363px 0 auto;
}

.u-section-1 .u-line-3 {
  width: 168px;
  transform-origin: right center 0px;
  margin: -6px 271px 0 auto;
}

.u-section-1 .u-shape-7 {
  width: 31px;
  height: 34px;
  margin: -20px auto 0 847px;
}

.u-section-1 .u-line-4 {
  width: 82px;
  transform-origin: left center 0px;
  margin: -26px auto 0 120px;
}

.u-section-1 .u-shape-8 {
  width: 31px;
  height: 34px;
  margin: -20px auto 0 189px;
}

.u-section-1 .u-line-5 {
  width: 189px;
  transform-origin: right center 0px;
  margin: -10px auto 0 358px;
}

.u-section-1 .u-shape-9 {
  width: 31px;
  height: 34px;
  margin: -20px auto 0 526px;
}

.u-section-1 .u-rotation-parent-1 {
  width: 34px;
  height: 31px;
  margin: 30px auto 0 268px;
}

.u-section-1 .u-shape-10 {
  width: 31px;
  height: 34px;
}

.u-section-1 .u-line-6 {
  width: 337px;
  transform-origin: left center 0px;
  margin: 73px auto 0 290px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  margin: 8px 665px 0 430px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  margin: 51px 162px 60px auto;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -157px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 97px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 144px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -78px;
  }

  .u-section-1 .u-shape-1 {
    width: 34px;
    margin-top: -81px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 34px;
    margin-top: -202px;
    margin-right: 442px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    width: 34px;
    height: 34px;
    margin-top: 106px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -13px;
    margin-left: 618px;
  }

  .u-section-1 .u-shape-4 {
    width: 34px;
    height: 34px;
    margin-top: -110px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -10px;
    margin-left: 954px;
  }

  .u-section-1 .u-shape-5 {
    width: 34px;
    height: 34px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-6 {
    width: 34px;
    height: 34px;
    margin-top: 93px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -11px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -157px;
    margin-left: 473px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
    margin-right: 354px;
  }

  .u-section-1 .u-line-3 {
    width: 34px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-7 {
    margin-left: 3px;
  }

  .u-section-1 .u-line-4 {
    width: 34px;
    margin-top: 102px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-8 {
    margin-left: 3px;
  }

  .u-section-1 .u-line-5 {
    width: 34px;
    margin-top: -99px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-9 {
    margin-left: 3px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -166px;
    margin-left: 0;
  }

  .u-section-1 .u-line-6 {
    width: 34px;
    margin-top: -59px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -22px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-top: -207px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-top: -232px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 159px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 4px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -177px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 183px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -217px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: 118px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -136px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -24px;
  }

  .u-section-1 .u-line-4 {
    margin-top: 146px;
  }

  .u-section-1 .u-line-5 {
    margin-top: -143px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -338px;
  }

  .u-section-1 .u-line-6 {
    margin-top: 141px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -62px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-top: -607px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 44px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -20px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -168px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 74px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -227px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: 128px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -288px;
  }

  .u-section-1 .u-line-6 {
    margin-top: 201px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -162px;
  }
}